<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>None of you bussines</title>
</head>
<body>
    <h1>Carochao</h1>
    <P>
        {{text}}
    </P>
    
</body>
</html>